.app-body {
  display: flex;
}

.main {
  margin: 0 30px 0 auto;
  width: 50%;
  margin-top: 10px;
  padding: 15px;
  background-color: steelblue;
  opacity: 0.96;
  opacity: 0.9;
}

.dex-img {
  width: 100%;
  margin-top: 12px;
}

button {
  border: 0 solid skyblue;
}

button:hover {
  background-color: lightblue;
}

button:active {
  color: lightblue;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #b2beb5;
}

.pixel {
  color: white;
  margin-right: 10px;
}

.ctrls {
  display: flex;
}

.ctrl-btn-row {
  margin-right: 1px;
  width: 25%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font {
  font-size: xx-large;
  font-family: 'Comic Sans MS', serif;
  font-weight: 500;
}

.ctrl-btn-2-row {
  width: 50%;
}

.bg-ash {
  background-color: #f5f5f5;
}

.bg-orange {
  background-color: #ff8c00;
}

.weather-input-city{

  text-align: center;
  font-size: 20px;
  width: 80%;
  display: block;
  margin: auto
}

.weather-p-city{
  margin-top: 20px;
  font-size: 25px;
  background-color: lightblue;
  padding: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

}
.weather-information-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;    
  font-size: 25px;
  text-align: center;
}

.weather-valid-city-name{
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  color: beige;
  background-color: brown;
  padding: 10px;
}
.weather-details {

  margin-bottom: 20px;
}